h1 {
    color: goldenrod;
}

body {
    background-color: crimson;
    color: dodgerblue;
}

.HTMLClass{
    color: red;

}

.CSSClass{
    color: blue;
}

.manyMore {

}

#CSSHeading {
    font-size: 25px;
    font-weight: bold;
}

#HTMLHeading {
    font-size: 25px;
    font-weight: bold;
}